<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>templates is running</title>
</head>
<body>

<!--hey , this is my first site-->
<!--{{name}} is leaving {{place}}-->
<h2>welcome</h2>
<h3>enter your text below</h3>
<form action='/analyze' method='get'>
    <textarea name='text' style="margin: 0px; width: 747px; height: 52px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove punctutation<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="spaceremover">remove space <br>
    <input type="checkbox" name="newlineremover">newlineremover <br>
<!--    <input type="checkbox" name="countchar">count character <br>-->
<!--    <button type="submit">analyze text</button>-->

</body>
</html>